In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# nice parameters for matplotlib
import matplotlib as mpl
mpl.rcParams["figure.figsize"] = [12.0, 10.0]
mpl.rcParams["legend.fontsize"] = "large"
mpl.rcParams["figure.titlesize"] = "medium"

# rendering images
from IPython.display import display, Image

# Training Data

## Weight: 4518 lbs / 2049 kg

In [2]:
Image(url="https://media.ed.edmunds-media.com/ford/f-150/2012/oem/2012_ford_f-150_regular-cab-pickup_xl_fq_oem_1_500.jpg")

## Weight: 3453 lbs / 1566 kg

In [3]:
Image(url="https://www.toyota.com/imgix/responsive/images/mlp/colorizer/2021/camry/1JJ/1.png?bg=fff&fm=webp&w=930")

## Weight: 3742 lbs / 1697 kg

In [4]:
Image(
    url="https://images.hgmsites.net/lrg/2021-nissan-leaf-sv-hatchback-angular-front-exterior-view_100776722_l.jpg",
    width=600
)

# Testing Data

In [5]:
Image(url = "https://www.motortrend.com/uploads/sites/5/2020/09/2022-Tesla-Model-S-Plaid-White-.png?fit=around%7C875:492")

In [8]:
dat = pd.DataFrame({
    "Name": [
        "Sagnik", "Arthur", "Anny", "Ibrahim", "Emaad", "Rithvik", "Hiroshi",
        "Jasper", "Sean", "Divya", "Jonathan", "Britney", "William", "Dustin",
        "Dechao", "Erica", "Olivia", "Francis", "Lexy", "Neha", "Abhi", "Daksh"
    ],
    "Pronoun Series": [
        "he", "he", "she", "he", "he", "he", "he",
        "he", "he", "she", "he", "she", "he", "he",
        "he", "she", "she", "he", "she", "she", "he", "he"
    ],
    "Predicted Weight": [
        (0., "kg"), (4100, "lbs"), (3440, "lbs"), (2000, "kg"), (4000, "lbs"), (4500, "lbs"), (1900, "kg"),
        (4400, "lbs"), (3800, "lbs"), (3800, "lbs"), (4100, "lbs"), (3700, "lbs"), (4500, "lbs"), (3950, "lbs"),
        (3900, "lbs"), (3500, "lbs"), (4000, "lbs"), (4700, "lbs"), (2400, "kg"), (3000, "lbs"), (3600, "lbs"),
        (4000, "lbs")
    ],
    "Confidence": [
        0., 6., 3., 5., 7., 6., 10., 4., 2., 2.5, 4., 6.9, 4.5, 3.,
        2., 7.2, 7., 4.5, 0.67, 5., 6., 5.,
    ]
})

dat

        Name Pronoun Series Predicted Weight  Confidence
0     Sagnik             he        (0.0, kg)        0.00
1     Arthur             he      (4100, lbs)        6.00
2       Anny            she      (3440, lbs)        3.00
3    Ibrahim             he       (2000, kg)        5.00
4      Emaad             he      (4000, lbs)        7.00
5    Rithvik             he      (4500, lbs)        6.00
6    Hiroshi             he       (1900, kg)       10.00
7     Jasper             he      (4400, lbs)        4.00
8       Sean             he      (3800, lbs)        2.00
9      Divya            she      (3800, lbs)        2.50
10  Jonathan             he      (4100, lbs)        4.00
11   Britney            she      (3700, lbs)        6.90
12   William             he      (4500, lbs)        4.50
13    Dustin             he      (3950, lbs)        3.00
14    Dechao             he      (3900, lbs)        2.00
15     Erica            she      (3500, lbs)        7.20
16    Olivia            she      (4000, lbs)        7.00
17   Francis             he      (4700, lbs)        4.50
18      Lexy            she       (2400, kg)        0.67
19      Neha            she      (3000, lbs)        5.00
20      Abhi             he      (3600, lbs)        6.00
21     Daksh             he      (4000, lbs)        5.00

## Convert lbs to kg

In [9]:
dat["Weight (kg)"] = dat["Predicted Weight"].map(
    lambda weight: weight[0] if weight[1] == "kg" else weight[0] * 0.45359237,
    na_action="ignore"
)
dat

        Name Pronoun Series Predicted Weight  Confidence  Weight (kg)
0     Sagnik             he        (0.0, kg)        0.00     0.000000
1     Arthur             he      (4100, lbs)        6.00  1859.728717
2       Anny            she      (3440, lbs)        3.00  1560.357753
3    Ibrahim             he       (2000, kg)        5.00  2000.000000
4      Emaad             he      (4000, lbs)        7.00  1814.369480
5    Rithvik             he      (4500, lbs)        6.00  2041.165665
6    Hiroshi             he       (1900, kg)       10.00  1900.000000
7     Jasper             he      (4400, lbs)        4.00  1995.806428
8       Sean             he      (3800, lbs)        2.00  1723.651006
9      Divya            she      (3800, lbs)        2.50  1723.651006
10  Jonathan             he      (4100, lbs)        4.00  1859.728717
11   Britney            she      (3700, lbs)        6.90  1678.291769
12   William             he      (4500, lbs)        4.50  2041.165665
13    Dustin             he      (3950, lbs)        3.00  1791.689862
14    Dechao             he      (3900, lbs)        2.00  1769.010243
15     Erica            she      (3500, lbs)        7.20  1587.573295
16    Olivia            she      (4000, lbs)        7.00  1814.369480
17   Francis             he      (4700, lbs)        4.50  2131.884139
18      Lexy            she       (2400, kg)        0.67  2400.000000
19      Neha            she      (3000, lbs)        5.00  1360.777110
20      Abhi             he      (3600, lbs)        6.00  1632.932532
21     Daksh             he      (4000, lbs)        5.00  1814.369480

## Simple Averaging

In [11]:
preds = dat["Weight (kg)"]

final_prediction = np.average(preds)
final_prediction, final_prediction / 0.45359237
# 4900 lbs

(1750.0237430136367, 3858.1419326203318)

## Weighted Averaging

In [12]:
conf = dat["Confidence"]

def weighted_average(predictions, confidences):
    return np.sum(list(map(lambda weight, confidence: weight * confidence, preds, conf))) / np.sum(conf)

weighted_pred = np.average(preds, weights=conf)
weighted_pred, weighted_pred / 0.45359237

(1813.4695925545575, 3998.0160877806597)

## Clipping Low Confidences

In [15]:
clipped = np.where(conf >= 5, conf, 0)
clipped

array([ 0. ,  6. ,  0. ,  5. ,  7. ,  6. , 10. ,  0. ,  0. ,  0. ,  0. ,
        6.9,  0. ,  0. ,  0. ,  7.2,  7. ,  0. ,  0. ,  5. ,  6. ,  5. ])

In [16]:
conf

0      0.00
1      6.00
2      3.00
3      5.00
4      7.00
5      6.00
6     10.00
7      4.00
8      2.00
9      2.50
10     4.00
11     6.90
12     4.50
13     3.00
14     2.00
15     7.20
16     7.00
17     4.50
18     0.67
19     5.00
20     6.00
21     5.00
Name: Confidence, dtype: float64

In [17]:
np.average(preds, weights=clipped), np.average(preds, weights=clipped) / 0.45359237

(1779.0521530815754, 3922.1386221324124)